{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
  },
  "plugins": [
    "babel",
    "react"
  ]
}